# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Avance 2 - Modelo e implementación (2).pdf
Avance1_Juarez_Navarro_Mamani_Mena_Soria_Sureda_4K3.docx (1).pdf
Avance2_Juarez_Navarro_Mamani_Mena_Soria_Sureda_4K3 (1).pdf
Clase 1 - Generadores de Números Pseudoaleatorios.ppsx
